body[data-theme="dark"] .token-sale-section {
  /* background: #181236; */
  color: #fff;
}
body[data-theme="light"] .token-sale-section {
  background: #f5f7fb;
  color: #181236;
}
.token-sale-section {
  padding: 64px 0;
}
.token-sale-section__container {
    background: #181236;
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(45,90,225,0.10);
  max-width: 1100px;
  margin: 40px auto;
  padding: 48px 42px 48px 42px;
  display: flex;
  align-items: center;
  gap: 72px;
  
}

.token-sale-section__chart {
  flex: 0 0 370px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.token-sale-section__info {
  flex: 1;
}
.token-sale-section__subtitle {
  color: #45a6ff;
  font-size: 1.15rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.token-sale-section__title {
  font-size: 2.3rem;
  font-weight: 800;
  margin: 16px 0 18px 0;
}
.token-sale-section__desc {
  color: #b5b5b7;
  font-size: 1.13rem;
  margin-bottom: 30px;
  max-width: 430px;
}
.token-sale-section__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.token-sale-section__list li {
  color: #e5e7eb;
  display: flex;
  align-items: center;
  gap: 13px;
}
.dot { 
  display: inline-block;
  width: 20px; height: 20px;
  border-radius: 100%; 
  margin-right: 8px;
  background: #2464e9;
}
.dot.dot2 { background: #4683ec; }
.dot.dot3 { background: #a7c2fb; }
.dot.dot4 { background: #e3e9fc; }
/* Responsive */
@media (max-width: 900px) {
  .token-sale-section__container {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }
  .token-sale-section__chart {
    margin-bottom: 18px;
  }
}
